.App {
  text-align: center;
}

p{
  margin: 10%;
}

.botao-padrao{
  background-color:#335AFF;
  border-radius: 2%;
  border: 0px;
  color:white;
  padding: 10px;
  margin: 15px;
}

.navbar{
  background-color: rgb(226, 227, 227);
  margin-bottom: 25px;
}

.navbar-prefixo{
  font-size: 30px;
  font-weight: bold;
}

.navbar-sufixo{
  font-Size: 30px;
  font-weight: bold;
  color: #335AFF;
}

.navbar-opcao{
  font-Size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 10%;
}

.badge{
  color:white
}