.App {
  text-align: center;
  background-color: white;
}

.quem-somos-texto{
  width: 90%;
  text-align: center;
  border-radius: 1%;
  border: 1px solid #CCC;
  margin: 2%;
  padding: 2%;
}

.botao-padrao{
  background-color:#335AFF;
  border-radius: 2%;
  border: 0px;
  color:white;
  padding: 10px;
  margin: 15px;
}

.navbar{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(1, 29, 128) 16%, rgba(0,212,255,1) 100%);
  margin-bottom: 25px;
}

.navbar-prefixo{
  font-size: 30px;
  font-weight: bold;
}

.navbar-sufixo{
  font-Size: 30px;
  font-weight: bold;
  color: #335AFF;
}

.navbar-opcao{
  font-Size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 10%;
}

.my-badge{
  color: white;
}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.cards{
  margin-right: 200%;
}

.footer{
  margin-top: 15px;
  background-color: rgb(239, 245, 245);
  padding: 1%;
  display: flex;
}

.footer-item{
  flex: 1;
}

.quem-somos-container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

